{% extends 'base.html.twig' %}

{% block header %}
    <header class="masthead masthead--minimal" style="background-image: url(/images/shifty.jpg)">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Snowtrick</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}

    <section class="container">
        <h2>Ask New Password</h2>
        <div class="row">
            <div class="col-4">
                {{ form_start(emailFieldForm) }}
                {{ form_row(emailFieldForm.email) }}
                <button type="submit" class="btn btn-primary">Send reset password link</button>
                {{ form_end(emailFieldForm) }}
            </div>
        </div>
    </section>

{% endblock %}
