{% extends 'base.html.twig' %}

{% block body %}

    <section class="container">
        <h2>Ask New Password</h2>
        <div class="row">
            <div class="col-4">
                {{ form_start(emailFieldForm) }}
                {{ form_end(emailFieldForm) }}
            </div>
        </div>
    </section>

{% endblock %}