{% extends 'base.html.twig' %}

{% block header %}
    <header class="masthead" style="background-image: url(/images/shifty.jpg)">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Snowtrick</h1>
                        <span class="subheading">Community around snownboard</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}


    <section class="row list__trick" id="homeTricksList">
        <div class="spinner-container" id="spinner">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        {% for trick in allTricks %}
            {% include 'components/trick_miniature.html.twig' %}
        {% endfor %}
    </section>

    <section class="row justify-content-center my-2">
        <button type="button" id="loadMoreTricks" class="btn btn-primary" data-page="{{ currentPage }}"
                data-url="/load-more-tricks/page">
            Load More...
        </button>
    </section>




{% endblock %}