{% extends 'base.html.twig' %}

{% block header %}
    <header class="masthead masthead--minimal" style="background-image: url(/images/main.jpg)">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Create account</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <div class="row my-3 justify-content-center">
        {{ form_start(signUpForm, {
            'attr': {
                'class': 'col-12 col-md-6'
            }
        }) }}


        {{ form_widget(signUpForm) }}

        <button class="btn btn-primary my-2" type="submit">Sign Up</button>
        {{ form_end(signUpForm) }}

    </div>
    <p class="text-center">
        <a href="{{ path('user_login') }}">Already have an account ?</a>
    </p>
{% endblock %}
