{% extends 'base.html.twig' %}

{% block body %}

    <section class="container">
        <h2>New Password</h2>
        <div class="row">
            <div class="col-4">
                {{ form_start(resetPasswordForm) }}
                {{ form_end(resetPasswordForm) }}
                <button class="btn btn-primary">Reset Password</button>
            </div>
        </div>
    </section>

{% endblock %}