<!doctype html>
<html lang="fr">
<head>
    {% include 'components/head.html.twig' %}
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" type="text/css"
              href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

{% block nav %}
    {% include 'components/flash_messages.html.twig' %}
    {% include 'components/navigation.html.twig' %}
{% endblock %}

{% block header %}
{% endblock %}

<main class="container" role="content">
    {% block body %}
    {% endblock %}
</main>

{% block footer %}
    <footer class="footer container-fluid bg-dark">

    </footer>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
